.lobster-two-regular-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sub-title{
    font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.sub-title-about{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.about-title{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  
}
.logo{
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}